root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{groovy,Jenkinsfile*}]
charset = utf-8
# Note: Some editors may add BOM. Use .gitattributes to ensure Git handles encoding correctly.

